.encabezado-pie {
  background-color: black;
  color: white;
  padding: 16px;
  text-align: center;
}

a {
  color: #1b67c9;
}

a:visited {
  color: #f00d0d;
}

header {
  margin: 0;
}

footer {
  margin-top: 50px;
}

html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  margin-left: 10px;
}
